<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Twitter</key>
	<dict>
		<key>ID</key>
		<string>0</string>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppKey</key>
		<string>必须</string>
		<key>AppSecret</key>
		<string>必须</string>
		<key>AppID</key>
		<string></string>
	</dict>
	<key>Google</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppKey</key>
		<string></string>
		<key>AppSecret</key>
		<string></string>
		<key>AppID</key>
		<string>必须</string>
	</dict>
	<key>Wechat</key>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppKey</key>
		<string></string>
		<key>AppSecret</key>
		<string>55aaba0bfa074a4384c708dd47861c15</string>
		<key>AppID</key>
		<string>wx16516ad81c31d872</string>
	</dict>
	<key>QQ</key>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>RedirectUrl</key>
		<string></string>
		<key>AppKey</key>
		<string>必须</string>
		<key>AppSecret</key>
		<string></string>
		<key>AppID</key>
		<string>1103537147</string>
	</dict>
	<key>SinaWeibo</key>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>RedirectUrl</key>
		<string>分享，选填</string>
		<key>AppKey</key>
		<string>必须</string>
		<key>AppSecret</key>
		<string>必须</string>
		<key>AppID</key>
		<string></string>
	</dict>
</dict>
</plist>
